.banner-main{
    background: url('../../assets/Images/nasa.avif');
    background-size: cover;
	background-position: center;
}
.mx-auto{
    margin-bottom: 50px;
}
.banner{
    margin-top:150px;
    margin-bottom: 285px;
}