.banner-main{
    background: url('../../assets/Images/emer.png');
    background-size: cover;
	background-position: center;
}
.para_one{
    font-size:23px;
}
.para_two{
    font-size:68px;
}
.para_thr{
    font-size:25px;
}
.mx-auto{
    margin-bottom: 50px;
}
.banner{
    margin-top:150px;
    margin-bottom: 285px;
}
.hed_fir{
    font-weight:900;
}
.btn_two{
    margin-left: 100px;
    border-radius: 20px;
    padding:7px;
    background-color: azure;
    border-color: white;
}
.btn_one{
    border-radius: 18px;
    padding:7px;
    background-color: azure;
    border-color: white;
}
.italic{
    font-style: italic;
    font-size: 17px;
}