.choose1{
    width:83px;
    height: 47px;
}
.choose2{
    width:83px;
    height: 39px;
}
.choose3{
    width:83px;
    height: 31px;
}
.choose4{
    width:83px;
    height: 49px;
}
.choose5{
    width:83px;
    height: 49px;
}
.choose6{
    width:83px;
    height: 49px;
}